/* universal*/
body {
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255,0.5);
  position: relative;
}

.relative{
  position: relative;
  top: 146px;
}

/* FONT :


    font-family: 'Libre Baskerville', serif;

    font-family: 'EB Garamond', serif;

*/
/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  background-color: rgba(61, 92, 92,0.5);
  padding: 5px 0;
  margin-bottom: 10px;
}
header .container{
  width: 70%;
  margin: 0 auto;
}
header h1{
  padding: 5px;
  float: left;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 3px;
  color: white;
  border-bottom: 3px dotted black;
}
#andre{
  color: #FFCC00;
  text-decoration: none;
}
header figure {
    float: right;
    font-size: 10px;
    text-align: center;
}

header img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header a{
  text-decoration: none;
}


/* Menu */
.menu{
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid black;
  margin-bottom: 15px;

}
nav{
  padding: 10px;
  width: 80%;
  margin: 0 auto;

}
nav li{
  display: inline-block;
  padding:10px;
  width: 100px;
  margin-right: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10%;
}
nav li a{
  text-decoration: none;
  color: black;
  font-family: "EB Garamond", serif;
  font-weight: bold;
}



/* Aside */

aside {
  float: left;
  background-color: rgba(0, 0, 0, 0.2);
  width: 30%;
  font-family: "EB Garamond",serif;
}
#phase li{
  margin-bottom: 5px;
}
.week-phase{
  width: 60%;
  display: block;
}
.week-phase li{
  padding: 5px;
  background-color: rgba(255,255,255,0.5);
  border-bottom: 1px solid gray;
}
.week-phase a{
  text-decoration: none;

}








/* section */
section {
  background-color: rgba(0, 0, 0, 0.2);
  float: left;
  width: 60%;
  margin-left: 10px;
  font-family: "EB Garamond",serif;
  padding: 15px 10px;
  margin-bottom: 10px;
}
#phase-0{
  border: 1px solid gray;
  padding: 0 10px;
  background-color: rgba(255,255,255,0.5);
}
#phase-0 iframe{
  width: 100%;
  height: 300px;
  max-width: 718px;
}

/* footer */
footer{

  clear: left;
  text-align: center;
  padding: 10px;
  background-color: rgba(61, 92, 92,0.5);
}
footer h2{
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  color: white;
}
